.app-navigation {
  background-color: $primary-black;
  bottom: 0;
  border-top: 1px solid hsl(0, 0%, 50%);
  position: fixed;
  z-index: 1;

  &__links {
    font-size: 1.2rem;

    li {
      width: 100%;
    }

    .app-navigation--link {
      align-items: center;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 10px;
      width: 100%;

      & :last-child {
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 56.25em) and (max-width: 64em) {
  .app-navigation {
    &__links {
      font-size: 1rem;
    }
  }
}