@import "./auth/auth";
@import "./LandingPage/landing-page";
@import "./VideoListing/video-listing";
@import "./SingleVideoPage/single-video-page";
@import "./History/history";

.wrapper {
  margin-bottom: 80px;
}

.empty-page {
  height: 80vh;
  font-size: 1.4rem;

  p {
    font-size: 1.4rem;
  }

  a {
    color: $primary-cta;
  }
}
