.playlist-card {
  border: 1px solid $gray-light;
  color: $white;
  margin-inline: auto;
  width: min(90vw, 300px);

  .img-container {
    min-height: 180px;
  }

  .playlist-details {
    position: relative;
  }

  .playlist-delete-btn {
    position: absolute;
    right: 2%;
    top: 5%;
  }
}
