.landing-page-main {
  .banner-section {
    position: relative;

    .banner {
      max-height: 60vh;

      img {
        height: 50vh;
        width: 100%;
        opacity: 0.3;
      }
    }

    &__heading {
      position: absolute;
      top: 15%;

      p {
        font-size: 1.2rem;
      }

      a {
        color: $white;
      }

      .btn-auto-secondary-outline:hover,
      .btn-auto-secondary-outline:focus {
        background-color: $white;
        color: $black;
      }
    }
  }
}

.section-heading {
  width: fit-content;
  border-bottom: 2px solid red;
}

@media screen and (min-width: 30em) {
  .landing-page-main {
    .banner-section {
      &__heading {
        top: 30%;
      }
    }
  }
}
