@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");

/* variables */
$primary-font-family: "Montserrat", sans-serif;
$secondary-font-family: "Roboto", sans-serif;

$primary-cta: hsl(1, 91%, 38%);
$primary-cta-dark: hsl(1, 91%, 30%);
$primary-black: hsl(0, 0%, 9%);

$hover-background: hsl(219, 15%, 23%);

$white: hsl(0, 0%, 97%);
$black: hsl(0, 0%, 0%);
$gray-dark: hsl(0, 0%, 45%);
$gray: hsl(0, 0%, 50%);
$gray-light: hsl(0, 0%, 60%);

@import "./component/index.scss";
@import "./pages/index.scss";

/* css reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-black;
  color: $white;
  font-family: $primary-font-family;
  overflow-x: hidden;
}

::placeholder {
  font-family: $primary-font-family;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* flex utility classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.flex-grow {
  flex-grow: 1;
}

// border
.border-bottom {
  border-bottom: 1px solid $white;
}

.border-top-black {
  border-top: 1px solid $black;
}

// background
.bg-white {
  background-color: white;

  .btn:focus,
  input:focus {
    box-shadow: none;
    outline: 1px solid $black;
    outline-offset: 2px;
  }
}

// width
.w-100 {
  width: 100%;
}

// other
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: 0;
  top: -500px;
}

.txt-secondary {
  color: #98a5b0;
}

// hide the elements below 56.25em = 900px
.hide-small-900 {
  display: none;
}

.hide-big-48 {
  display: block;
}

@media screen and (min-width: 48em) {
  .hide-big-48 {
    display: none;
  }
}

@media screen and (min-width: 56.25em) {
  .hide-small-900 {
    display: block;
  }
}
